<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in data.sent %}
sender : {{i.sender}}<br>
receiver : {{i.receiver}}<br>
subject : {{i.subject}}<br>
body : {{i.body}}<br>
<form action="/mail/{{i.id}}/trash/" method="post">
 {% csrf_token %}
 <input type="checkbox" name="is_trash" />
 <input type="submit" value="trash">
</form>
<hr>
{% endfor %}
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>